@charset "UTF-8";
/* colors */
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

html  {
  scroll-behavior: smooth;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
  margin: 0;
}

.w3-card {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
}

.sec-margin {
  margin: 20px;
  z-index: 2;
}

.white {
  color: white;
}

.w3-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#articles-title {
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

#quote {
  font-style: italic;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  font-family: "Times New Roman", Times;
  text-align: center;
  font-size: 50px;
}

#imagep {
  width: 100%;
  /* width of container */
  height: 300px;
  /* height of container */
  -o-object-fit: cover;
     object-fit: cover;
}

#create-left {
  margin-right: 20px;
}

.create-items {
  display: inline-block;
  padding: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  margin-top: 30px;
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-items a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.create-items a:hover {
  color: white;
  text-decoration: underline;
}

.card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.zoom {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.zoom:hover  {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.already-box {
  margin: auto;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  margin-top: 350px;
}

.create-items:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-top: 15px;
}

.auth li a {
  text-decoration: none;
  font-size: 16px;
}

nav {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  position: relative;
}

nav .tree img {
  display: inline;
  margin-right: 50px;
  width: 40px;
}

.line {
  width: 30px;
  height: 3px;
  background: gray;
  margin: 5px;
}

.glitch {
  font-size: 8.125em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  color: black;
  letter-spacing: 5px;
}

.glitch:before, .glitch:after {
  display: block;
  content: attr(data-glitch);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}

.glitch:after {
  color: #5ff11c;
  z-index: -2;
}

.glitch:before {
  color: #0ff;
  z-index: -1;
}

.glitch:hover {
  color: black;
  text-decoration: none;
}

.glitch:hover:before {
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}

.glitch:hover:after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}

@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
  }
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media screen and (max-width: 1300px) {
  .auth {
    display: none;
  }
}

.create-text {
  margin-top: 20%;
  margin-bottom: 10px;
}

#create-text {
  margin: 20px;
}

.green {
  color: #1fdd4e;
}

#portail h1 {
  font-weight: bold;
  margin: 0;
}

#portail p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#portail span {
  font-size: 12px;
}

#portail a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

#portail form {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

#portail input {
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#portail .container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  margin-top: 12%;
  max-width: 100%;
  min-height: 480px;
}

#portail .form-container {
  position: absolute;
  top: 0;
  height: 100%;
}

#portail .log-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

#portail .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

#portail .overlay {
  background: #1fdd4e;
  background: -webkit-gradient(linear, left top, right top, from(#2bffed), to(#1fdd4e));
  background: linear-gradient(to right, #2bffed, #1fdd4e);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

#portail .overlay-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

#portail .overlay-right {
  right: 0;
}

#portail .social-container {
  margin: 50px 0;
}

#portail .social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/* Credit: Mohammad Abdul Mohaiman */
@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: white;
  overflow: hidden;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  -webkit-animation: animate 19s linear infinite;
          animation: animate 19s linear infinite;
}

.background .green {
  background: #1fdd4e;
}

.background .blue {
  background: #2bffed;
}

.background li:nth-child(0) {
  left: 4%;
  width: 121px;
  height: 121px;
  bottom: -121px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 30%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.background li:nth-child(2) {
  left: 36%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.background li:nth-child(3) {
  left: 52%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.background li:nth-child(4) {
  left: 67%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.background li:nth-child(5) {
  left: 17%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

.background li:nth-child(6) {
  left: 88%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.background li:nth-child(7) {
  left: 9%;
  width: 182px;
  height: 182px;
  bottom: -182px;
  -webkit-animation-delay: 31s;
          animation-delay: 31s;
}

.background li:nth-child(8) {
  left: 36%;
  width: 185px;
  height: 185px;
  bottom: -185px;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.background li:nth-child(9) {
  left: 9%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

/* Articles and stuff */
#body_container {
  font-family: Georgia, serif;
  color: #333;
  font-size: 1.4rem;
  line-height: 2rem;
  /* --- Important Pen Styles --- */
}

#body_container a {
  color: #000;
}

#body_container h1 {
  font-size: 2.6rem;
  line-height: 2.6rem;
}

#body_container .content {
  margin: 0 auto;
  max-width: 90%;
  margin-top: 40px;
  width: 720px;
}

#body_container #comment_title {
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: -30px;
}

#body_container main {
  padding: 1% 0;
  position: relative;
  background: #f5f5f5;
  -webkit-box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.25);
  height: 100%;
}

#body_container .comment-section {
  margin: 30px;
}

#body_container #text {
  margin-top: 25px;
  margin-right: 50px;
}

#body_container footer p {
  font-size: .8rem;
  font-weight: bold;
  color: #ccc;
}

#body_container footer a {
  color: #ccc;
}

#body_container .zoom {
  overflow: hidden;
  padding-bottom: 55%;
}

#body_container .zoom img {
  position: fixed;
  top: 0%;
  left: 50%;
  max-width: 200%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#form_div {
  background-color: lightgray;
  width: 600px;
  padding: 50px;
  position: fixed;
  top: 25%;
  left: 30%;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* PRODUCTS */
/* --- Product Card ---- */
.make-3D-space {
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  width: 340px;
  height: 505px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 5s;
  transition: -webkit-transform 5s;
  transition: transform 5s;
  transition: transform 5s, -webkit-transform 5s;
  position: absolute;
  margin-left: -167px;
}

#make-3D-space {
  top: 450px;
  left: 20%;
}

#make-3D-space2 {
  top: 450px;
  left: 50%;
}

#make-3D-space3 {
  top: 450px;
  left: 80%;
}

#make-3D-space4 {
  top: 1050px;
  left: 20%;
}

#make-3D-space5 {
  top: 1050px;
  left: 50%;
}

#make-3D-space6 {
  top: 1050px;
  left: 80%;
}

#make-3D-space7 {
  top: 1650px;
  left: 20%;
}

#make-3D-space8 {
  top: 1650px;
  left: 50%;
}

#make-3D-space9 {
  top: 1650px;
  left: 80%;
}

#make-3D-space10 {
  top: 1750px;
  height: 15px;
  position: relative;
}

.product-front, .product-back {
  width: 335px;
  height: 500px;
  background: #fff;
  position: absolute;
  left: -5px;
  top: -5px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.product-back {
  display: none;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.product-card.animate .product-back, .product-card.animate .product-front {
  top: 0px;
  left: 0px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.product-card {
  width: 325px;
  height: 490px;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

div.product-card.flip-10 {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
  -webkit-transition: 50ms ease-out;
  transition: 50ms ease-out;
}

div.product-card.flip90 {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition: 100ms ease-in;
  transition: 100ms ease-in;
}

div.product-card.flip190 {
  -webkit-transform: rotateY(190deg);
  transform: rotateY(190deg);
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

div.product-card.flip180 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
}

.product-card.animate {
  top: 5px;
  left: 5px;
  width: 335px;
  height: 500px;
  -webkit-box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.stats-container {
  background: #fff;
  position: absolute;
  top: 386px;
  left: 0;
  width: 335px;
  height: 240px;
  padding: 27px 35px 35px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-card.animate .stats-container {
  top: 272px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.stats-container .product_name {
  font-size: 22px;
  color: #393c45;
}

.stats-container p {
  font-size: 16px;
  color: #b1b1b3;
  padding: 2px 0 20px 0;
}

.stats-container .product_price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48daa1;
  opacity: 0;
}

.product-card.animate .image_overlay {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-options {
  padding: 2px 0 0;
}

.product-options strong {
  font-weight: 700;
  color: #393c45;
  font-size: 14px;
}

.product-options span {
  color: #969699;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.view_details {
  position: absolute;
  top: 112px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
  width: 172px;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.view_details:hover {
  background: #fff;
  color: #48cfad;
  cursor: pointer;
}

.product-card.animate .view_details {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  margin-left: -75px;
  top: 115px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

div.colors div {
  margin-top: 3px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  float: left;
}

div.colors div span {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
}

div.colors div span:hover {
  width: 17px;
  height: 17px;
  margin: -1px 0 0 -1px;
}

div.c-blue span {
  background: #6e8cd5;
}

div.c-red span {
  background: #f56060;
}

div.c-green span {
  background: #44c28d;
}

div.c-white span {
  background: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #e8e9eb;
}

div.shadow {
  width: 335px;
  height: 520px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.product-back div.shadow {
  z-index: 10;
  opacity: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}

.flip-back {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cx, .cy {
  background: #d2d5dc;
  position: absolute;
  width: 0px;
  top: 15px;
  right: 15px;
  height: 3px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.flip-back:hover .cx, .flip-back:hover .cy {
  background: #979ca7;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.cx.s1, .cy.s1 {
  right: 0;
  width: 30px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.cy.s2 {
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.cy.s3 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.cx.s1 {
  right: 0;
  width: 30px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.cx.s2 {
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.cx.s3 {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 100ease-out;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.carousel {
  width: 335px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.carousel ul {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel li {
  width: 335px;
  height: 500px;
  float: left;
  overflow: hidden;
}

.arrows-perspective {
  width: 335px;
  height: 55px;
  position: absolute;
  top: 218px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 5s;
  transition: -webkit-transform 5s;
  transition: transform 5s;
  transition: transform 5s, -webkit-transform 5s;
  -webkit-perspective: 335px;
          perspective: 335px;
}

.carouselPrev, .carouselNext {
  width: 50px;
  height: 55px;
  background: #ccc;
  position: absolute;
  top: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0.9;
  cursor: pointer;
}

.carouselNext {
  top: 0;
  right: -26px;
  -webkit-transform: rotateY(-117deg);
  transform: rotateY(-117deg);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.carouselNext.visible {
  right: 0;
  opacity: 0.8;
  background: #efefef;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.carouselPrev {
  left: -26px;
  top: 0;
  -webkit-transform: rotateY(117deg);
  transform: rotateY(117deg);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.carouselPrev.visible {
  left: 0;
  opacity: 0.8;
  background: #eee;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.carousel .x, .carousel .y {
  height: 2px;
  width: 15px;
  background: #48cfad;
  position: absolute;
  top: 31px;
  left: 17px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.carousel .x {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 21px;
}

.carousel .carouselNext .x {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.carousel .carouselNext .y {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/*# sourceMappingURL=styles.css.map */