{% extends "ecow/layout.html" %}
{% load static %}

{% block body %}
<a href="#" class="glitch" data-glitch="About us">About us</a>
<h3 class="w3-center create-text">LES ECOS AMBASSADEURS DE LOUIS MASSIGNON</h3>
<p style="margin:20px;" class="w3-center w3-large">Nous sommes les ecos-ambassadeurs de Lycée français international Louis Massignon, à Bouskoura (Maroc). Chaque année, un élève est élu par classe pour représenter l'écologie et intégrer l'EcoClub de l'établissement. Nous organisons des projets et nous coordonons afin de sensibiliser et agir. </p>
{% endblock %}