{% extends "ecow/layout.html" %}
{% load static %}

{% block body %}
    <a href="#" class="glitch" data-glitch="Create">Create</a>
    <h3 class="w3-center create-text">MODIFIE LE SITE WEB!</h3>
    <p id="create-text" class="w3-center w3-large">Modifie le site web en ajoutant des articles sur des sujets qui te passionnent (ex: l'écologie, le réchauffement climatique, etc.) et en proposant des idées pour permettre aux gens d'agir (ex: DIY, recyl'art, etc.)</p>
    <div style="display:flex;">
    <div id="create-left" class=create-items><a href="/create/article">Crée un article</a></div>
    <div style="justify-content: space-around;" id="create-right" class=create-items><a href="/create/idea">Crée un idée</a></div>
    </div>
{% endblock %}