{% load static %}
<!DOCTYPE html>
<html lang=fr>
    <head>
         <!-- required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
         <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'ecow/styles.css' %}">
        <!-- credit: https://iconarchive.com/show/noto-emoji-animals-nature-icons-by-google/22330-deciduous-tree-icon.html -->
        <link href="{% static 'ecow/tree.ico' %}" rel="icon">
        <title>EcoWeb</title>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container" style="margin-left:0;">
            <div class="tree">
                <img src="{% static 'ecow/tree.ico' %}" alt="tree">
            </div>
            <a class="navbar-brand" style="padding-right: 40px" href="{% url 'index' %}">EcoWeb</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% block nav %}
                {% endblock %}
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
          <div class="hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </div>
          <ul class="nav-links">
            <li><a href="#">Nos projets</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Boite à idées</a></li>
            <li><a href="#">Admin? Login</a></li>
          </ul>
        </nav>
        
        <div style="margin:15px;">
        {% block body %}
        {% endblock%}
        </div>

        <script src="{% static 'ecow/app.js' %}"></script>
    </body>
</html>