{% extends "ecow/layoutportail.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div class="already-box">
    <h2>Vous êtes déjà connecté</h2>
    Déconnectez-vous <a class="green" href="{% url 'logout' %}">ici</a>
</div>
{% else %}
<div class="container" id="container">
    <div class="form-container log-in-container">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
                <p><a class="green" href="{% url 'index' %}"><i class="fa fa-arrow-left"></i> Retourne à l'EcoWeb</a></p>
            </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Portail des Eco-Ambassadeurs</h1>
                <p>Vous êtes eco-ambassadeur du LFILM? Connectez-vous ici!</p>
                <p>Vous n'avez pas encore de compte? <a href="{% url 'register' %}">Créez votre compte ici.</a></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}