{% extends "ecow/layout.html" %}
{% load static %}

{% block body %}
{% if invalid %}
    <div class="alert alert-warning" role="alert">
        Sorry, the form you submitted is invalid
    </div>
{% endif %}

<div class="form-group">
    <h1 id="new">Modifie le site web, crée ton <strong>{{ type }}!</strong></h1>
    <form action="{% url 'create_object' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Save" id="createbutton">
        <input name="type" type="hidden" value="{{ type }}">
    </form>
</div>
{% endblock %}