{% extends "ecow/layout.html" %}
{% load static %}

{% block body %}
    <!-- Display messages -->
    {% if messages %}
        {% for message in messages %}
            <div style="text-align: center;" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <a href="#" class="glitch" style="font-size: 80px;" data-glitch="Eco-Boutique">Eco-Boutique</a>  
    <h3 style="margin-top: 250px;" class="w3-center create-text">Soutiens l'écologie!</h3>
    <p class="w3-center w3-large">T-shirts, hoodies, and more.</p>


    <div>
        <div class="make-3D-space" id="make-3D-space">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/tshirt1.jpeg' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">200MAD</span>
                            <span class="product_name">Eco-T-Shirt A</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>  
        </div>  

        <div class="make-3D-space" id="make-3D-space2">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/pull.jpeg' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Pull</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>  
        </div>  

        <div class="make-3D-space" id="make-3D-space3">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/hoodie.jpeg' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Hoodie</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>  
        </div>  
    </div>
    <br><br><br><br>

    <div>
        <div class="make-3D-space" id="make-3D-space4">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/image2.png' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Tshirt B</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>  
        </div>  

        <div class="make-3D-space" id="make-3D-space5">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/image3.png' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Tshirt C</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>  
        </div>  

        <div class="make-3D-space"  id="make-3D-space6">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/image4.png' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Tshirt 404</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>  
        </div>  
    </div>


    <div>
        <div class="make-3D-space" id="make-3D-space7">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/image5.png' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Tshirt D</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div> 
            </div>  
        </div>  

        <div class="make-3D-space"  id="make-3D-space8">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/image6.png' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Tshirt E</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>  
            </div>  
        </div>  

        <div class="make-3D-space"  id="make-3D-space9">
            <div class="product-card">
                <div class="product-front">
                <div class="shadow"></div>
                    <img height="110%" src="{% static 'ecow/images/products/image7.png' %}" alt="" />
                    <div class="image_overlay"></div>
                    <div onclick="showForm()" class="view_details">COMMANDER</div>
                    <div class="stats">         
                        <div class="stats-container">
                            <span class="product_price">250MAD</span>
                            <span class="product_name">Eco-Tshirt F</span>    
                            <p>HOMMES ET FEMMES</p>                                            
                            <div class="product-options">
                                <strong>TAILLES DISPONIBLES</strong>
                                <span>XS, S, M, L, XL</span>
                            </div>                       
                        </div>                         
                    </div>
                </div>
            </div>  
        </div>  
    </div>

    <div id="make-3D-space10"></div>
    <div id="form_div" style="display: none;">
        <form action="{% url 'command' %}"  method="post" id="commandform">
            {% csrf_token %}
            <button onclick="hideForm()" style="font-size: 20px; margin-left: 460px; margin-bottom: 20px;" type="button">  X  </button>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select name="option" class="custom-select" id="inputGroupSelect01">
                    <option selected>Choisis ton article...</option>
                    <option value="1">Eco-Tshirt A</option>
                    <option value="2">Eco-Pull</option>
                    <option value="3">Eco-Hoodie</option>
                    <option value="4">Eco-Tshirt B</option>
                    <option value="5">Eco-Tshirt C</option>
                    <option value="6">Eco-Tshirt 404</option>
                    <option value="7">Eco-Tshirt D</option>
                    <option value="8">Eco-Tshirt E</option>
                    <option value="9">Eco-Tshirt F</option>
                </select>
            </div>
            <input class="form-control" name="first_name" type="text" placeholder="Prénom">
            <input class="form-control" name="last_name" type="text" placeholder="Nom">
            <input class="form-control" name="email" type="email" placeholder="email"><br>
            <input class="btn btn-primary" type="submit" value="Envoie ta commande!"><br>
            <small>Tu recevras un email de confirmation puis les instructions pour payer et recevoir ton t-shirt de la part des Eco-Ambassadeurs.</small>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'ecow/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
{% endblock %}